n8n-catalog-sync.json
{
  "name": "SIL - Sync Catálogo Power BI",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "Todo dia às 3h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [180, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.APP_URL }}/api/admin/catalog/sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-sync-secret",
              "value": "={{ $vars.CATALOG_SYNC_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"all_companies\": true }",
        "options": {
          "timeout": 120000
        }
      },
      "id": "node-sync",
      "name": "Sincronizar todos os catálogos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "jsCode": "const res = $input.item.json;\nconst total = res.companies_synced ?? 0;\nconst results = res.results ?? {};\n\nlet ok = 0;\nlet erros = [];\n\nfor (const [companyId, data] of Object.entries(results)) {\n  const d = data;\n  if (d.error) {\n    erros.push(`${companyId}: ${d.error}`);\n  } else if (d.skipped) {\n    // nada\n  } else if (Array.isArray(d.results)) {\n    const comp_ok = d.results.filter(r => r.status === 'ok').length;\n    const comp_err = d.results.filter(r => r.status === 'error');\n    ok += comp_ok;\n    for (const e of comp_err) {\n      erros.push(`${companyId} / ${e.dataset_id}: ${e.error}`);\n    }\n  }\n}\n\nconst status = erros.length === 0 ? 'OK' : 'PARCIAL';\nconst msg = `[${new Date().toISOString()}] Sync catálogo: ${status}\\nEmpresas: ${total} | Datasets OK: ${ok} | Erros: ${erros.length}` +\n  (erros.length > 0 ? `\\n\\nErros:\\n${erros.join('\\n')}` : '');\n\nconsole.log(msg);\n\nreturn [{ json: { status, msg, ok, erros, total } }];"
      },
      "id": "node-log",
      "name": "Resumo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-tem-erro",
              "leftValue": "={{ $json.erros.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-check-erro",
      "name": "Tem erros?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.APP_URL }}/api/admin/catalog/sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-sync-secret",
              "value": "={{ $vars.CATALOG_SYNC_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"all_companies\": true }",
        "options": {
          "timeout": 120000
        }
      },
      "id": "node-retry",
      "name": "Tentar novamente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 200]
    },
    {
      "parameters": {
        "content": "✅ Sync concluído sem erros",
        "height": 60,
        "width": 200
      },
      "id": "node-ok",
      "name": "Sucesso",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1060, 400]
    }
  ],
  "connections": {
    "Todo dia às 3h": {
      "main": [
        [{ "node": "Sincronizar todos os catálogos", "type": "main", "index": 0 }]
      ]
    },
    "Sincronizar todos os catálogos": {
      "main": [
        [{ "node": "Resumo", "type": "main", "index": 0 }]
      ]
    },
    "Resumo": {
      "main": [
        [{ "node": "Tem erros?", "type": "main", "index": 0 }]
      ]
    },
    "Tem erros?": {
      "main": [
        [{ "node": "Tentar novamente", "type": "main", "index": 0 }],
        [{ "node": "Sucesso", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
