n8n-sil-chat-flow.json
{
  "name": "SIL Chat - Power BI (Completo)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sil-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [180, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://login.microsoftonline.com/{{ $vars.PBI_TENANT_ID }}/oauth2/v2.0/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "grant_type", "value": "client_credentials" },
            { "name": "client_id", "value": "={{ $vars.PBI_CLIENT_ID }}" },
            { "name": "client_secret", "value": "={{ $vars.PBI_CLIENT_SECRET }}" },
            { "name": "scope", "value": "https://analysis.windows.net/powerbi/api/.default" }
          ]
        },
        "options": {}
      },
      "id": "node-token",
      "name": "Obter Token PBI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.powerbi.com/v1.0/myorg/datasets/{{ $('Webhook').item.json.body.dataset_id }}/executeQueries",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.access_token }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"queries\": [{ \"query\": \"EVALUATE INFO.VIEW.MEASURES()\" }, { \"query\": \"EVALUATE INFO.VIEW.COLUMNS()\" }], \"serializerSettings\": { \"includeNulls\": true } }",
        "options": {}
      },
      "id": "node-schema",
      "name": "Buscar Schema",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [620, 400]
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').item.json.body;\nconst question = String(body.question ?? '');\nconst datasetId = String(body.dataset_id ?? '');\nconst token = $('Obter Token PBI').item.json.access_token;\nconst results = $input.item.json.results ?? [];\n\nconst measureRows = results[0]?.tables?.[0]?.rows ?? [];\nconst allMeasures = measureRows\n  .map(r => ({ name: r['[Name]'] ?? r['Name'] ?? '', table: r['[Table]'] ?? r['Table'] ?? '' }))\n  .filter(m => m.name);\n\nconst colRows = results[1]?.tables?.[0]?.rows ?? [];\nconst allColumns = colRows\n  .map(r => ({\n    name: r['[Name]'] ?? r['Name'] ?? '',\n    table: r['[Table]'] ?? r['Table'] ?? '',\n    dataType: String(r['[DataType]'] ?? r['DataType'] ?? ''),\n    isHidden: r['[IsHidden]'] ?? r['IsHidden'] ?? false\n  }))\n  .filter(c => c.name && c.table && !c.isHidden);\n\nconst dateColumns = allColumns.filter(c =>\n  c.dataType === '9' || c.dataType === 'DateTime' || c.dataType === 'Date' ||\n  c.name.toLowerCase().includes('data') || c.name.toLowerCase().includes('date')\n);\n\nconst textColumns = allColumns.filter(c =>\n  c.dataType === '2' || c.dataType === 'Text' || c.dataType === 'String' ||\n  (!c.dataType.match(/^[0-9]+$/) && c.dataType !== 'DateTime' && c.dataType !== 'Date')\n);\n\nfunction normalize(s) {\n  return s.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').replace(/[\\s_\\-]/g, '');\n}\nconst normQ = normalize(question);\nconst tokens = normQ.match(/[a-z0-9]{3,}/g) ?? [normQ];\n\nconst scored = allMeasures.map(m => {\n  const normName = normalize(m.name);\n  let score = 0;\n  for (const t of tokens) {\n    if (normName.includes(t)) score += 2;\n    if (normQ.includes(normName)) score += 3;\n  }\n  if (normName.includes(normQ) || normQ.includes(normName)) score += 5;\n  return { m, score };\n});\nconst sorted = scored.filter(s => s.score > 0).sort((a, b) => b.score - a.score);\nconst relevantMeasures = sorted.length > 0 ? sorted.slice(0, 12).map(s => s.m) : allMeasures.slice(0, 30);\n\nconst measuresList = relevantMeasures.map(m => `\"${m.name}\" (tabela: ${m.table})`).join('\\n');\nconst dateColsList = dateColumns.map(c => `${c.table}[${c.name}]`).join('\\n');\nconst textColsList = textColumns.slice(0, 60).map(c => `${c.table}[${c.name}]`).join('\\n');\n\nreturn [{\n  json: {\n    question, datasetId, token,\n    measuresList, dateColsList, textColsList,\n    relevantMeasures, dateColumns, textColumns\n  }\n}];"
      },
      "id": "node-prepare",
      "name": "Preparar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $vars.OPENAI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', response_format: { type: 'json_object' }, max_tokens: 400, messages: [{ role: 'system', content: 'Você analisa perguntas sobre dados Power BI e retorna JSON com a intenção.\\n\\nMEDIDAS (use nomes EXATOS):\\n' + $json.measuresList + '\\n\\nCOLUNAS DE DATA:\\n' + $json.dateColsList + '\\n\\nCOLUNAS DE TEXTO (filtros/agrupamentos):\\n' + $json.textColsList + '\\n\\nRetorne UM dos JSONs abaixo:\\n1. Valor simples: {\"type\":\"simple\",\"measures\":[\"NomeMedida\"]}\\n2. Múltiplas medidas: {\"type\":\"multi\",\"measures\":[\"Medida1\",\"Medida2\"]}\\n3. Filtro de período: {\"type\":\"period\",\"measures\":[\"NomeMedida\"],\"date_table\":\"Tabela\",\"date_col\":\"Coluna\",\"from_month\":1,\"from_year\":2025,\"to_month\":1,\"to_year\":2025}\\n   IMPORTANTE: inclua from_year/to_year SOMENTE se o usuário mencionou o ano explicitamente\\n4. Filtro por texto: {\"type\":\"text_filter\",\"measures\":[\"NomeMedida\"],\"filter_table\":\"Tabela\",\"filter_col\":\"Coluna\",\"filter_val\":\"valor\"}\\n5. Texto + período: {\"type\":\"text_date\",\"measures\":[\"NomeMedida\"],\"filter_table\":\"Tabela\",\"filter_col\":\"Coluna\",\"filter_val\":\"valor\",\"date_table\":\"Tabela\",\"date_col\":\"Coluna\",\"from_month\":1,\"from_year\":2025,\"to_month\":1,\"to_year\":2025}\\n6. Agrupamento: {\"type\":\"group\",\"measures\":[\"NomeMedida\"],\"group_table\":\"Tabela\",\"group_col\":\"Coluna\"}\\n7. Agrupamento + período: {\"type\":\"group_period\",\"measures\":[\"NomeMedida\"],\"group_table\":\"Tabela\",\"group_col\":\"Coluna\",\"date_table\":\"Tabela\",\"date_col\":\"Coluna\",\"from_month\":1,\"from_year\":2025,\"to_month\":1,\"to_year\":2025}\\n8. Ranking: {\"type\":\"ranking\",\"measures\":[\"NomeMedida\"],\"group_table\":\"Tabela\",\"group_col\":\"Coluna\",\"top_n\":5,\"order\":\"desc\"}\\n9. Comparação de períodos: {\"type\":\"compare\",\"measures\":[\"NomeMedida\"],\"date_table\":\"Tabela\",\"date_col\":\"Coluna\",\"period_a\":{\"month\":1,\"year\":2025},\"period_b\":{\"month\":2,\"year\":2025}}\\n10. Listar medidas: {\"type\":\"list\"}\\n11. Não é dado: {\"type\":\"none\"}\\n\\nREGRAS: Use APENAS nomes das listas acima. date_col deve vir de COLUNAS DE DATA. filter_col deve vir de COLUNAS DE TEXTO.' }, { role: 'user', content: $json.question }] }) }}",
        "options": {}
      },
      "id": "node-classify",
      "name": "OpenAI - Classificar Intenção",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 400]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Preparar Contexto').item.json;\nconst raw = $input.item.json.choices?.[0]?.message?.content ?? '{}';\nlet intent;\ntry { intent = JSON.parse(raw); } catch { intent = { type: 'none' }; }\n\nconst ref = (table, col) => `${table}[${col}]`;\n\nfunction dateFilter(table, col, fm, fy, tm, ty) {\n  if (!col) return null;\n  const r = ref(table, col);\n  const conds = [];\n  if (fm && (!tm || fm === tm) && (!fy || fy === ty)) {\n    conds.push(`MONTH(${r}) = ${fm}`);\n    if (fy) conds.push(`YEAR(${r}) = ${fy}`);\n  } else {\n    if (fm) conds.push(`MONTH(${r}) >= ${fm}`);\n    if (fy) conds.push(`YEAR(${r}) >= ${fy}`);\n    if (tm) conds.push(`MONTH(${r}) <= ${tm}`);\n    if (ty) conds.push(`YEAR(${r}) <= ${ty}`);\n  }\n  if (conds.length === 0) return null;\n  return `FILTER(ALL(${table}), ${conds.join(' && ')})`;\n}\n\nlet queries = [];\nconst t = intent.type;\n\nif (t === 'simple' || t === 'multi') {\n  if (intent.measures?.length) {\n    const cols = intent.measures.map(m => `\"${m}\", [${m}]`).join(', ');\n    queries.push(`EVALUATE ROW(${cols})`);\n  }\n\n} else if (t === 'period' && intent.measures?.length && intent.date_col) {\n  const df = dateFilter(intent.date_table, intent.date_col, intent.from_month, intent.from_year, intent.to_month, intent.to_year);\n  const filter = df ?? '';\n  const cols = intent.measures.map(m => df\n    ? `\"${m}\", CALCULATE([${m}], ${df})`\n    : `\"${m}\", [${m}]`\n  ).join(', ');\n  queries.push(`EVALUATE ROW(${cols})`);\n\n} else if (t === 'text_filter' && intent.measures?.length && intent.filter_col) {\n  const fRef = ref(intent.filter_table, intent.filter_col);\n  const cols = intent.measures.map(m => `\"${m}\", CALCULATE([${m}], ${fRef} = \"${intent.filter_val ?? ''}\")`).join(', ');\n  queries.push(`EVALUATE ROW(${cols})`);\n\n} else if (t === 'text_date' && intent.measures?.length && intent.filter_col) {\n  const fRef = ref(intent.filter_table, intent.filter_col);\n  const df = intent.date_col ? dateFilter(intent.date_table, intent.date_col, intent.from_month, intent.from_year, intent.to_month, intent.to_year) : null;\n  const filters = [fRef + ` = \"${intent.filter_val ?? ''}\"`, df].filter(Boolean).join(', ');\n  const cols = intent.measures.map(m => `\"${m}\", CALCULATE([${m}], ${filters})`).join(', ');\n  queries.push(`EVALUATE ROW(${cols})`);\n\n} else if (t === 'group' && intent.measures?.length && intent.group_col) {\n  const gRef = ref(intent.group_table, intent.group_col);\n  const measCols = intent.measures.map(m => `\"${m}\", [${m}]`).join(', ');\n  queries.push(`EVALUATE SUMMARIZECOLUMNS(${gRef}, ${measCols}) ORDER BY [${intent.measures[0]}] DESC`);\n\n} else if (t === 'group_period' && intent.measures?.length && intent.group_col && intent.date_col) {\n  const gRef = ref(intent.group_table, intent.group_col);\n  const df = dateFilter(intent.date_table, intent.date_col, intent.from_month, intent.from_year, intent.to_month, intent.to_year);\n  const measCols = df\n    ? intent.measures.map(m => `\"${m}\", CALCULATE([${m}], ${df})`).join(', ')\n    : intent.measures.map(m => `\"${m}\", [${m}]`).join(', ');\n  queries.push(`EVALUATE SUMMARIZECOLUMNS(${gRef}, ${measCols}) ORDER BY [${intent.measures[0]}] DESC`);\n\n} else if (t === 'ranking' && intent.measures?.length && intent.group_col) {\n  const gRef = ref(intent.group_table, intent.group_col);\n  const n = intent.top_n ?? 10;\n  const ord = intent.order === 'asc' ? 'ASC' : 'DESC';\n  queries.push(`EVALUATE TOPN(${n}, SUMMARIZECOLUMNS(${gRef}, \"${intent.measures[0]}\", [${intent.measures[0]}]), [${intent.measures[0]}], ${ord})`);\n\n} else if (t === 'compare' && intent.measures?.length && intent.date_col) {\n  const pa = intent.period_a;\n  const pb = intent.period_b;\n  const dfA = dateFilter(intent.date_table, intent.date_col, pa.month, pa.year, pa.month, pa.year);\n  const dfB = dateFilter(intent.date_table, intent.date_col, pb.month, pb.year, pb.month, pb.year);\n  const me = intent.measures[0];\n  const partA = dfA ? `CALCULATE([${me}], ${dfA})` : `[${me}]`;\n  const partB = dfB ? `CALCULATE([${me}], ${dfB})` : `[${me}]`;\n  const labelA = `Periodo ${pa.month}${pa.year ? '/' + pa.year : ''}`;\n  const labelB = `Periodo ${pb.month}${pb.year ? '/' + pb.year : ''}`;\n  queries.push(`EVALUATE ROW(\"${labelA}\", ${partA}, \"${labelB}\", ${partB})`);\n}\n\nreturn [{\n  json: {\n    queries,\n    intent,\n    intentType: t,\n    hasDax: queries.length > 0,\n    isList: t === 'list',\n    isNone: t === 'none',\n    datasetId: ctx.datasetId,\n    token: ctx.token,\n    question: ctx.question,\n    relevantMeasures: ctx.relevantMeasures\n  }\n}];"
      },
      "id": "node-build-dax",
      "name": "Construir DAX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-has-dax",
              "leftValue": "={{ $json.hasDax }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-check-dax",
      "name": "Tem DAX?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1500, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.powerbi.com/v1.0/myorg/datasets/{{ $json.datasetId }}/executeQueries",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.token }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ queries: $json.queries.map(q => ({ query: q })), serializerSettings: { includeNulls: true } }) }}",
        "options": {}
      },
      "id": "node-exec-dax",
      "name": "Executar DAX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1720, 260]
    },
    {
      "parameters": {
        "jsCode": "const daxCtx = $('Construir DAX').item.json;\nconst results = $input.item.json.results ?? [];\n\nlet formatted = '';\nlet hasValue = false;\n\nresults.forEach(res => {\n  const rows = res?.tables?.[0]?.rows ?? [];\n  if (rows.length === 0) return;\n  const keys = Object.keys(rows[0]);\n  const cleanKeys = keys.map(k => k.replace(/^\\[|\\]$/g, ''));\n  if (rows.length === 1) {\n    const row = rows[0];\n    const pairs = keys.map((k, i) => `${cleanKeys[i]}: ${row[k] ?? 'sem valor'}`);\n    formatted += pairs.join('\\n') + '\\n';\n    if (keys.some(k => row[k] !== null && row[k] !== undefined && row[k] !== '')) hasValue = true;\n  } else {\n    const header = cleanKeys.join(' | ');\n    const lines = rows.slice(0, 80).map(row => keys.map(k => String(row[k] ?? '')).join(' | '));\n    formatted += header + '\\n' + lines.join('\\n');\n    if (rows.length > 80) formatted += `\\n... e mais ${rows.length - 80} linhas.`;\n    formatted += '\\n';\n    hasValue = true;\n  }\n});\n\nreturn [{\n  json: {\n    formatted: formatted.trim() || null,\n    hasValue,\n    question: daxCtx.question,\n    intent: daxCtx.intent,\n    intentType: daxCtx.intentType\n  }\n}];"
      },
      "id": "node-parse-result",
      "name": "Processar Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1940, 260]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-has-value",
              "leftValue": "={{ $json.hasValue }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-check-value",
      "name": "Tem Dados?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2160, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $vars.OPENAI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', max_tokens: 600, messages: [{ role: 'system', content: 'Você é a SIL, assistente de inteligência analítica da Solução Inteligente. Responda SEMPRE em português brasileiro.\\n\\nDADOS DO POWER BI:\\n' + $json.formatted + '\\n\\nREGRAS:\\n- Use os dados acima para responder. Formate números como R$ 1.234,56 ou % quando aplicável.\\n- Se for lista/tabela: apresente organizado com markdown.\\n- Se for comparação: mostre os dois valores e a diferença percentual.\\n- Seja direto e objetivo.\\n- NUNCA gere código DAX, SQL, fórmulas ou explique como calcular.\\n- NUNCA invente valores — use apenas os dados fornecidos.' }, { role: 'user', content: $json.question }] }) }}",
        "options": {}
      },
      "id": "node-format-answer",
      "name": "OpenAI - Formatar Resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2380, 160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ message: $json.choices?.[0]?.message?.content ?? 'Erro ao formatar resposta.', source: 'n8n' }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "node-respond-ok",
      "name": "Responder - Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2600, 160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ message: 'A medida \"' + ($json.intent?.measures?.[0] ?? 'solicitada') + '\" existe no dataset, mas não retornou dados para o período ou filtro informado. Tente especificar: mês, ano, nome de vendedor ou filial.', source: 'n8n' }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "node-respond-empty",
      "name": "Responder - Medida Vazia",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2380, 360]
    },
    {
      "parameters": {
        "jsCode": "const daxCtx = $('Construir DAX').item.json;\nconst ctx = $('Preparar Contexto').item.json;\n\nlet message;\nif (daxCtx.isList) {\n  const lista = (ctx.relevantMeasures ?? []).map(m => `- ${m.name}`).join('\\n');\n  message = lista\n    ? `Tenho acesso às seguintes medidas no dataset:\\n${lista}\\n\\nExemplos de perguntas:\\n- Qual é o total de ${ctx.relevantMeasures?.[0]?.name ?? 'Vendas'}?\\n- Me mostre o ${ctx.relevantMeasures?.[1]?.name ?? 'Faturamento'} de janeiro\\n- Ranking por ${ctx.relevantMeasures?.[0]?.name ?? 'indicador'}`\n    : 'Não encontrei medidas no dataset.';\n} else {\n  message = 'Não encontrei dados para essa pergunta. Tente usar o nome exato do indicador ou seja mais específico.';\n}\n\nreturn [{ json: { message, source: 'n8n' } }];"
      },
      "id": "node-no-dax-handler",
      "name": "Handler Sem DAX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1720, 540]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ message: $json.message, source: $json.source }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "node-respond-notfound",
      "name": "Responder - Sem DAX",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1940, 540]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Obter Token PBI", "type": "main", "index": 0 }]]
    },
    "Obter Token PBI": {
      "main": [[{ "node": "Buscar Schema", "type": "main", "index": 0 }]]
    },
    "Buscar Schema": {
      "main": [[{ "node": "Preparar Contexto", "type": "main", "index": 0 }]]
    },
    "Preparar Contexto": {
      "main": [[{ "node": "OpenAI - Classificar Intenção", "type": "main", "index": 0 }]]
    },
    "OpenAI - Classificar Intenção": {
      "main": [[{ "node": "Construir DAX", "type": "main", "index": 0 }]]
    },
    "Construir DAX": {
      "main": [[{ "node": "Tem DAX?", "type": "main", "index": 0 }]]
    },
    "Tem DAX?": {
      "main": [
        [{ "node": "Executar DAX", "type": "main", "index": 0 }],
        [{ "node": "Handler Sem DAX", "type": "main", "index": 0 }]
      ]
    },
    "Executar DAX": {
      "main": [[{ "node": "Processar Resultado", "type": "main", "index": 0 }]]
    },
    "Processar Resultado": {
      "main": [[{ "node": "Tem Dados?", "type": "main", "index": 0 }]]
    },
    "Tem Dados?": {
      "main": [
        [{ "node": "OpenAI - Formatar Resposta", "type": "main", "index": 0 }],
        [{ "node": "Responder - Medida Vazia", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI - Formatar Resposta": {
      "main": [[{ "node": "Responder - Sucesso", "type": "main", "index": 0 }]]
    },
    "Handler Sem DAX": {
      "main": [[{ "node": "Responder - Sem DAX", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "SIL" }, { "name": "Power BI" }],
  "triggerCount": 0,
  "versionId": "4"
}
