n8n-dispatch-report-flow.json
{
  "name": "Dispatch Report",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dispatch-report",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "d1a2b3c4-0001-0001-0001-000000000001",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.body.report_export_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-callback-secret",
              "value": "={{ $json.body.callback_secret }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body.report_export_payload) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "d1a2b3c4-0001-0001-0001-000000000002",
      "name": "Download Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const binaryData = $input.item.binary.data;\nconst base64 = binaryData.data;\nconst webhookBody = $('Webhook1').item.json.body;\nconst format = (webhookBody.export_format || 'PDF').toUpperCase();\nconst mimeMap = {\n  'PDF': 'application/pdf',\n  'PNG': 'image/png',\n  'PPTX': 'application/vnd.openxmlformats-officedocument.presentationml.presentation'\n};\nconst extMap = { 'PDF': 'pdf', 'PNG': 'png', 'PPTX': 'pptx' };\nconst mimetype = mimeMap[format] || 'application/pdf';\nconst extension = extMap[format] || 'pdf';\nconst safeName = (webhookBody.report_name || 'relatorio').replace(/[^a-zA-Z0-9_\\-]/g, '_');\nreturn [{\n  json: {\n    file_base64: base64,\n    file_name: safeName + '.' + extension,\n    mimetype: mimetype,\n    format: format,\n    dispatch_targets: webhookBody.dispatch_targets || [],\n    bot_send_url: webhookBody.bot_send_url,\n    bot_send_headers: webhookBody.bot_send_headers,\n    message: webhookBody.message\n  }\n}];"
      },
      "id": "d1a2b3c4-0001-0001-0001-000000000003",
      "name": "Extract From File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "dispatch_targets",
        "options": {}
      },
      "id": "d1a2b3c4-0001-0001-0001-000000000004",
      "name": "Expandir Contatos",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst target = item.dispatch_targets;\nconst payload = {\n  phone: target.phone || null,\n  whatsapp_group_id: target.whatsapp_group_id || null,\n  message: item.message || null,\n  document_base64: item.file_base64,\n  file_name: item.file_name,\n  mimetype: item.mimetype,\n  dispatch_log_id: target.dispatch_log_id || null\n};\nreturn [{\n  json: {\n    payload,\n    bot_send_url: item.bot_send_url,\n    bot_send_headers: item.bot_send_headers\n  }\n}];"
      },
      "id": "d1a2b3c4-0001-0001-0001-000000000005",
      "name": "Build Dispatch Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.bot_send_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-callback-secret",
              "value": "={{ $json.bot_send_headers['x-callback-secret'] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {}
      },
      "id": "d1a2b3c4-0001-0001-0001-000000000006",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Download Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Report": {
      "main": [
        [
          {
            "node": "Extract From File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract From File": {
      "main": [
        [
          {
            "node": "Expandir Contatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expandir Contatos": {
      "main": [
        [
          {
            "node": "Build Dispatch Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Dispatch Items": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
